<h1>Jo Jo</h1>
<courses></courses>
<authors></authors>
<favor></favor>
<input type="text"[(ngModel)]="newTitle">
<br>
{{newTitle | titleCase}}
<br><favor [is-clicked]="post.clicked" (change)="onClickedChange($event)"></favor>
<br><bootstrap-panel>
<ng-container class="heading">hhhhhh</ng-container>
<div class="body">bbbbbb</div>
</bootstrap-panel>
<app-like
    [contOfClicks]="message.clickNumber"
    [isActive]="message.checked"
    >wird :D
</app-like>

<div *ngIf="tab.length > 0; then elementList else noElements"></div>
<ng-template #elementList>
        Elemenety
</ng-template>
<ng-template #noElements>
    No elements
</ng-template>

<div [hidden]="tab.length >0">
 visible
</div>
<div [hidden]="tab.length == 0">
    not visible or so
</div><br>
<ul class="nav nav-pills">
<li [class.active]="viewSwitch == 'map'"><a (click)="viewSwitch = 'map'">Mapy</a></li>
<li [class.active]="viewSwitch == 'lista'"><a (click)="viewSwitch = 'lista'">Listy</a></li>
</ul>
<div [ngSwitch]="viewSwitch">
    <div *ngSwitchCase="'map'">Mapsy</div>
    <div *ngSwitchCase="'lista'">listy</div>
    <div *ngSwitchDefault>dupa</div>
</div>
<br>
<button (click)="addidtion()">Add</button>
<ul>
    <li *ngFor="let game of games; index as i; even as isEven">
         {{i}} -  {{game.name}} <span *ngIf="isEven">(EVEN)</span>
         <button (click)="remGame(game)">Rem</button>
    </li>
</ul>
<br>
<button (click)="loadBooks()">Load Bames</button>
<ul>
    <li *ngFor="let book of books; trackBy: trackBook">
            {{book.name}} 
    </li>
</ul><br>

Sejwing

<button
[style.backgroundColor] = "sejv ? 'black': 'purple'"
[style.color]="sejv ? 'white': 'green'"
[style.fontWeight]="sejv? 'bold':'normal'"
[ngStyle]="{
    'backgroundColor': sejv ? 'black': 'purple'}"
>
   Sejv 
</button><br>

<span>{{job.worker?.name}}</span><br>

<input type="text" [appFormatInput]="'duzaLitera'">
<br>

<fast title="dupa">Dettails of zamowienie</fast>
<br><br>
<formek></formek>
<br>
<thing-form></thing-form>
<br>
<br>
<signup-form></signup-form>



