<h1>Jo Jo</h1>
<courses></courses>
<authors></authors>
<favor></favor>
<input type="text"[(ngModel)]="newTitle">
<br>
{{newTitle | titleCase}}
<br><favor [is-clicked]="post.clicked" (change)="onClickedChange($event)"></favor>
<br><bootstrap-panel>
<ng-container class="heading">hhhhhh</ng-container>
<div class="body">bbbbbb</div>
</bootstrap-panel>
<app-like
    [contOfClicks]="message.clickNumber"
    [isActive]="message.checked"
    >wird :D
</app-like>

<div *ngIf="tab.length > 0; then elementList else noElements"></div>
<ng-template #elementList>
        Elemenety
</ng-template>
<ng-template #noElements>
    No elements
</ng-template>
