<form [formGroup]="form">
  <div class="form-group">
    <label for="">stare</label>
    <input formControlName="staryPass" type="password" class="form-control">
    <div 
    class="alert alert-danger"
    *ngIf="staryPass.touched && staryPass.invalid">
    <div *ngIf="staryPass.errors.required">field is req</div>
    <div *ngIf="staryPass.errors.staryPassValid">stary pass jest zly</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">nowe</label>
    <input formControlName="nowyPass" type="password" class="form-control">
    <div 
    class="alert alert-danger"
    *ngIf="nowyPass.touched && nowyPass.invalid">
    <div *ngIf="nowyPass.errors.required">field is req</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">potwierdz</label>
    <input formControlName="poPass" type="password" class="form-control">
    <div 
    class="alert alert-danger"
    *ngIf="poPass.touched && poPass.invalid">
    <div *ngIf="poPass.errors.required">field is req</div>
    </div>
    <div *ngIf="form.invalid && form.errors.passMatcher" class="alert alert-danger">haslo sie nie zgadza</div>
  </div>
  <button class="btn btn-primary">zmien haslo</button>


</form>
