<p>
<a routerLink="/admin/productos/new" class="btn btn-primary">Nowy produkt</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngfor="let p of products$ | async">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>
               <a [routerLink]="['/admin/products', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>